version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: domenico-backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: development
      REDIS_HOST: redis  # Connect to the 'redis' service in Docker
      REDIS_PORT: 6379   # Default Redis port
    volumes:
      - .:/app:cached
    restart: always
    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"  # Exposing Redis on the default port
    restart: always
