services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: domenico-backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
